@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  background: #222;
}

.nav {
  background: #222;
  padding: 0 15px;
  transition: all 1s;
  max-height: 70px;
  border-bottom: 1px solid white;
}

.nav-active {
  max-height: 1000px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: #ccc;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active {
  display: block;
}

/* .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* mobile content */

.content-about {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
}

.content-item {
  margin: 10px;
}

.content-header {
  color: white;
}

.content-text {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  display: block;
}

/* About Section */

.title-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  max-height: 300px;
  border-radius: 50%;
}

/* desktop changes */

@media only screen and (min-width: 700px) {
  .toggle {
    display: none;
  }

  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  /* About section changes */

  /* .content-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  .about-header {
    padding-top: 90px;
  }

  .title-card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 50px;
  }
}
