$white: white;
$black: #222;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  background: $black;
}

.nav {
  background: $black;
  padding: 0 15px;
  transition: all 1s;
  max-height: 70px;
  border-bottom: 1px solid $white;
}

.nav-active {
  max-height: 1000px;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: $white;
}

.content-header {
  color: $white;
  margin-bottom: 10px;
}

.content-text {
  color: $white;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 3vh;
}

.content-subheader {
  color: $white;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active {
  display: block;
}

/* mobile content */

.content-about {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
}

.card {
  display: block;
}

/* Mobile About Section */

.title-card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  max-height: 300px;
  border-radius: 50%;
}

/* Mobile Contact Section */

.contact-connect {
}

.contact-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.email:hover {
  color: $black;
  background: $white;
}

.icon-link:hover {
  color: $black;
}

.send-message {
}

.form-input {
  font-family: inherit;
  font-size: 30px;
  border: 0;
  width: 100%;
  border-bottom: 2px solid $white;
  outline: 0;
  padding: 8px;
  background: transparent;
  transition: border-color 0.2s;
  color: $white;
  caret-color: $white;
}

.text-input {
  font-family: inherit;
  font-size: 30px;
  width: 100%;
  border: 2px solid $white;
  background: transparent;
  margin-top: 20px;
  outline: 0;
  padding: 8px;
  caret-color: $white;
}

.button-send {
  border: 2px solid $white;
  outline: 0;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: $white;
  font-family: inherit;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.button-send:hover,
.button-send:focus {
  background: $white;
  color: $black;
}

/* desktop changes */

@media only screen and (min-width: 700px) {
  /* Nav Changes */

  .toggle {
    display: none;
  }

  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  /* General Changes */
  .content-text {
    padding-left: 60px;
    padding-right: 60px;
  }

  /* About section changes */

  .about-header {
    padding-top: 90px;
  }

  .title-card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10vw;
  }

  /* Contact section changes */
}

@media only screen and (min-width: 1000px) {
  .title-card {
    grid-gap: 30vw;
  }
}
